// Navigation code here
.topsec{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: @wild-sand;
    .topcontainerparam();
    text-align: center;
.title{
    padding-top:1.4%;
    width: 100%;
    }//close title

.navcont{
    margin: 0 auto;    
    width: 80%;
    .padding();

    nav{
        font-family: 'Ubuntu', sans-serif;
        margin: 0 auto;
        width: 50%;
        display: flex;
        justify-content: space-between;
        
    }//close nav

    nav a{
        color: @river-bend;
        text-decoration: none;
    }//nav a close
   

}//close navcont








}//close topsec

